/* 奶茶色:#D7C4BB
珍珠色:#4A2500
紅豆淺:#AB3B3A
紅豆深:#954A45 */

*{
    /* border: solid 1px; */
    box-sizing: border-box;
    position: relative;
    /* user-select: none; */
}

::selection{
    background-color: #4A2500;
    color: #D7C4BB;
}

html,body{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #D7C4BB;
}

.bodyImg-index{
    background-image: url(../material/bg-1.png), url(../material/bg-2.png) ;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position-x: 250px;
}

.bodyImg-contact{
    background-image: url(../material/bg-4.png), url(../material/bg-3.png) ;
    background-repeat: no-repeat;
    background-size: contain, contain;
    background-position-y: 200px, 0px;
    background-position-x: 250px, 800px;
}

.main{
    height: 100%;
    width: 100%;
}

header{
    text-align: center;
}

.text-c{
    font-family: 'Noto Sans TC', sans-serif;
}

.text-e{
    font-family: 'Lexend Deca', sans-serif;
}


.color-milktea{
    color: #D7C4BB;
}

.color-bubble{
    color: #4A2500;
}

.color-beanlight{
    color: #AB3B3A;
}

.color-beandark{
    color: #954A45;
}

.color-leaf{
    color: #5C844D;
}

.color-jam{
    color: #BEAF29;
}

.color-bg-beandark{
    background-color: #954A45;
}

.color-bg-leaf{
    background-color: #5C844D;
}

.color-bg-jam{
    background-color: #BEAF29;
}


.container{
    margin-top: 50px;
    margin-left: 80px;
    display: flex;
}

.navbox{
    text-align: center;
}

.logoImg{
    width:140px;
}

a{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    transition-duration: 0.3s;
    cursor: pointer;

}

.navbox{
    position: fixed;
    z-index: 5;
}

.nav-list{
    text-align: center;
    padding: 0%;
    margin-top: 30px;
    display: inline-block;
    list-style: none;
}

.nav-list-item{
    padding-bottom: 30px;
}

.nav-list-img{
    position: absolute;
    background-image: url(../material/3.png);
    background-size: cover;
    top: -15px;
    left: -5px;
    width: 0px;
    height: 70px;
    opacity: 0;
}

.nav-list a:hover .nav-list-img {
    position: absolute;
    width: 101px;
    transition: .5s ease;
    opacity: 1;
}

.index-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    height: 670px;
}

.hero{
    margin-left: 150px;
    display: flex;
}

.itembox{
    width:280px;
    margin-right: 30px;
}

.probox{
    display: inline-block;
    margin-left: 76%;
    width: 250px;
    height: 500px;
    position: absolute;
}

.probox-text{
    width: 250px;
    height: 250px;
    background-image: url(../images/Index/1.png);
    background-size:cover;
}

.probox-text div{
    /* 烤奶 專賣 */
    top: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.3em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 250px;
    height: 250px;
}

.probox-img{
    margin-top: -170px;
    margin-left: 170px;
    position : absolute;
    transform:rotate(21.17deg);
}

.probox-img img{
    width: 90px;
}

.nav-list-item span{
    margin: 5px;
}

.itembox-item{
    text-align: center;
    top: -77px;
    /* margin-left: auto;
    transform: translateY(-50%); */
}

/* animation */
.item-ani-1 {
    display: inline-block;
	animation: scale-up-center 1s ease-out both;
}

@keyframes scale-up-center 
{
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}

.itembox-text-1{
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);

}

.itembox-text-2{
    top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;

    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.item-ani-leaf{
    animation-delay: 1.8s;
}

.item-ani-jam{
    animation-delay: 3s;
}

.itembox-line{
    /* Line 1 */
    position: absolute;
    width: 0px;
    height: 0px;
    top: 148px;
    left: 38px;

    border: 1.5px solid;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    animation: line-down 1s ease-out both;
    animation-delay: 0.5s;
}

@keyframes line-down 
{
    0% {
        height: 0px;
    }
    100% {
        height: 373px;
    }
}

.item-line-ani-leaf{
    animation-delay: 2.2s;
}

.item-line-ani-jam{
    animation-delay: 3.5s;
}

.item-img{
    top: 200px;
    left: -30px;
    background-repeat: no-repeat;
    background-size:cover;

    opacity: 0;
    animation: ani-visit 1.5s ease-out both;
    animation-delay: 0.8s;
}

@keyframes ani-visit
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.item-img-bean{
    height: 260px;
    background-image: url(../images/Index/redbean.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.item-img-leaf{
    height: 260px;
    width: 300px;
    top: 220px;
    left: -50px;
    background-image: url(../images/Index/tealeaf.png);
    background-repeat: no-repeat;
    background-size: contain;

    animation-delay: 2.5s;
}

.item-img-jam{
    left: -30px;
    height: 250px;
    background-image: url(../images/Index/jam.png);
    background-repeat: no-repeat;
    background-size: contain;

    animation-delay: 3.8s;
}

.itembox-text-3{
    position: absolute;
    width: 30px;
    height: 168px;

    left: 55px;
    top: 150px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3em;

    animation: ani-visit 1.5s ease both;
    animation-delay: 1s;
}

.itembox-text-4{
    position: absolute;
    width: 30px;
    height: 264px;

    left: 90px;
    top: 180px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3em;

    animation: ani-visit 1.5s ease both;
    animation-delay: 1s;
}

.item-text-ani-leaf{
    animation-delay: 2.4s;
}

.item-text-ani-jam{
    animation-delay: 3.8s;
}

.footer{
    display: flex;
    justify-content: right;
    align-items: center;
    background-image: url(../material/bottom_line.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:cover;

    height: 35px;
    width: 100%;

    position:absolute;
    /* margin-top: 18px; */
}

.footer a
{
    margin-right: 50px;
}

.footer .facebook::before
{
    content: '';
    background-image:url(../images/Contact/Facebook.png);
    background-repeat: no-repeat;
    background-size:cover;
    
    top: -40px;
    left: 20px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    opacity: 0;
    transition-duration: 0.5s;
}

.footer .instagram::before
{
    content: '';
    background-image:url(../images/Contact/Instagram.png);
    background-repeat: no-repeat;
    background-size:cover;
    
    top: -40px;
    left: 25px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    opacity: 0;
    transition-duration: 0.5s;
}

.footer .line::before
{
    content: '';
    background-image:url(../images/Contact/line.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    top: -40px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    opacity: 0;
    transition-duration: 0.5s;
}

.footer a:hover::before{
    top: -50px;
    opacity: 1;
    transition-duration: 0.5s;
}

/*sub-Container 共用*/
.sub-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 670px;

    margin-left: 150px;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-1{
    display: flex;
    flex-direction: row;

    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 45px;
    text-align: center;
}

.title-2{
    display: flex;
    flex-direction: row;

    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

.sub-Container-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.body-menu{
    /* height: 200%; */
}

/*Menu*/
.menu{
    height: 1536px;
}


/*Contact*/
.contact-a{
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;

    animation: slide-bck-center 0.8s ease-in both;
    animation-delay: 0.8s;
}

.contact-a:hover .contact-img{
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
    transition-duration: 0.2s;
}

.sub-Container-main .contact-img{
    margin-bottom: 10px;
    height: 80px;
    width: 80px;
}

@keyframes slide-bck-center {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 

.sub-Container-left{
    padding: 0px 50px;
    height: 100%;
    padding-top: 50px;
}

.sub-Container-right{
    padding: 0px 50px;
    height: 100%;
    padding-top: 50px;
}

.sub-Container-main img{
    width:450px;
    height: 350px;
}

/*Store*/
p{
    margin: 0%;
}

.p-title{
    font-size: 1.15rem;
}

.bottom{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.left-bottom-right div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-bottom-right .svgimg{
    padding-right: 5px;
}

.left-bottom-right div div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sub-Container-ani{
    animation: slide-bck-center 0.8s ease-in both;
    animation-delay: 0.8s;
}

.sub-Container-right .svgimg{
    display: flex;
    align-items: center;
}

/*Orders*/

.order{
    width: 100%;
    height: 100%;   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
}

.order-item{
    height: 18%;
    width: 70%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;

    top: 30px;
    opacity: 0;
    animation: ani-order 1.5s ease-out both;
    animation-delay: 0.8s;
}

.order-item-1{
    animation-delay: 1.1s;
}

.order-item-2{
    animation-delay: 1.4s;
}

.order-item-3{
    animation-delay: 1.7s;
}

@keyframes ani-order
{
    0% {
        opacity: 0;
        top: 30px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

.order-item .order-item-left{
    width: 40%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    background-color: #AB3B3A;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.order-item-left img{
    width: 60px;
    height: 60px;
    margin: 0px 30px 0px 50px;
}

.order-item-left svg{
    width: 60px;
    height: 60px;
    margin: 0px 30px 0px 50px;
}

.order-item-left p{
    font-size: 1.5rem;
    line-height: 10px;
}

.order-item-right{
    width: 60%;
    height: 100%;
    background-color: #4A2500;
    border-radius: 0px 20px 20px 0px;

    display: flex;
    justify-content: center;
    padding-left: 30px;
    flex-direction: column;
}

.order-item-right .order-item-right-div{
    display: flex;
    justify-content: left;
    flex-direction: row;
    height: 100%;
}

.order-item-right p{
    font-size: 1.2rem;
    line-height: 30px;
}

.order-item-right-phone{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.order-item-right-pay{
    padding-left:100px;

    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.order-item-right-pay-bg{
    height: 25px;
    width: 120px;
    background-color: #D9D9D9;
    border-radius: 20px;
    margin: 2.5px;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.order-item-right-pay-bg img{
    height: 20px;
    width: 60%;
}

.order-item-right-pay-bg p{
    font-size: 1rem;
    line-height: 25px;
}

.order-item:hover{
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.8));
    transition-duration: 0.2s;
}