/* 奶茶色:#D7C4BB
珍珠色:#4A2500
紅豆淺:#AB3B3A
紅豆深:#954A45 */

*{
    /* border: solid 1px; */
    box-sizing: border-box;
    position: relative
}

html,body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #D7C4BB;
    background-image: url(../material/bg-1.png), url(../material/bg-2.png) ;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position-x: 250px;
}

.main{
    /* border: solid 1px; */

    height: 100%;
    width: 100%;
    /* background-image: url(../material/bg-1.png), url(../material/bg-2.png) ; */
    /* background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position-x: 250px; */
}

header{
    text-align: center;
}

.text-c{
    font-family: 'Noto Sans TC', sans-serif;
}

.text-e{
    font-family: 'Lexend Deca', sans-serif;
}


.color-milktea{
    color: #D7C4BB;
}

.color-bubble{
    color: #4A2500;
}

.color-beanlight{
    color: #AB3B3A;
}

.color-beandark{
    color: #954A45;
}

.color-leaf{
    color: #5C844D;
}

.color-jam{
    color: #BEAF29;
}

.color-bg-beandark{
    background-color: #954A45;
}

.color-bg-leaf{
    background-color: #5C844D;
}

.colo-bg-jam{
    background-color: #BEAF29;
}


.container{
    margin-top: 36px;
    margin-left: 80px;
    display: flex;
}

.menubox{
    text-align: center;
}

.logoImg{
    width:140px;
}

a{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    transition-duration: 0.3s;
}

.menu{
    margin:5px;
}

.nav-list{
    text-align: center;
    padding: 0%;
    margin-top: 30px;
    display: inline-block;
    list-style: none;
}

.nav-list-item{
    padding-bottom: 30px;
}

.hero{
    margin-left: 150px;
    display: flex;
}

.itembox{
    width:280px;
    margin-right: 30px;
}

.probox{
    display: inline-block;
    margin-left: 76%;
    width: 250px;
    height: 500px;
    position: absolute;
}

.probox-text{
    width: 250px;
    height: 250px;
    background-image: url(../images/Index/1.png);
    background-size:cover;
}

.probox-text div{
    /* 烤奶 專賣 */
    top: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    /* line-height: 48px; */
    text-align: center;
    letter-spacing: 0.3em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 250px;
    height: 250px;
}

.probox-img{
    margin-top: -170px;
    margin-left: 170px;
    position : absolute;
    transform:rotate(21.17deg);
}

.probox-img img{
    width: 90px;
}

.footer{
    height: 35px;
    background-image: url(../material/bottom_line.png);
    background-repeat: no-repeat;
    background-size:cover;
}

.nav-list-item span{
    margin: 5px;
}

.itembox-text-1{
    /* 紅 */
    position: absolute;
    width: 45px;
    height: 54px;
    top: 10px;
    left: 5%;
    /* transform: translateX(-50%); */
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.3em;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);

}

.itembox-text-2{
    position: absolute;
    width: 45px;
    height: 54px;

    top: 82px;
    left: 5%;
    /* transform: translateX(-50%); */
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.3em;

    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.itembox-line{
    /* Line 1 */
    position: absolute;
    width: 373px;
    height: 0px;
    top: 320px;
    left: -150px;

    border: 1px solid;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(90deg);
}

.item-img{
    top: 320px;
    left: -25px;
    background-repeat: no-repeat;
    background-size:cover;
}

.item-img-bean{
    height: 260px;
    background-image: url(../images/Index/redbean.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.item-img-leaf{
    height: 260px;
    width: 300px;
    left: -70px;
    background-image: url(../images/Index/tealeaf.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.item-img-jam{
    left: -30px;
    height: 260px;
    background-image: url(../images/Index/jam.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.itembox-text-3{
    position: absolute;
    width: 30px;
    height: 168px;

    left: 55px;
    top: 150px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3em;
}

.itembox-text-4{
    position: absolute;
    width: 30px;
    height: 264px;

    left: 90px;
    top: 180px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3em;
}